# configuration for "master" branch
-
  branches:
    only:
      - master

  image:
   - Visual Studio 2017
  before_build:
   - nuget restore -Verbosity quiet
  dotnet_csproj:
   patch: true
   file: '**\SmtpServerStub.csproj'
   version: '{version}'
   package_version: '{version}'
   assembly_version: '{version}'
   file_version: '{version}'
   informational_version: '{version}'
  build_script:
   - msbuild SmtpServerStub\SmtpServerStub.csproj /v:q /p:Configuration=Release
   - msbuild SmtpServerStubUnitTests\SmtpServerStubUnitTests.csproj /v:q /p:Configuration=Release
  test:
   assemblies:
    - '**\SmtpServerStubUnitTests.dll'
  artifacts:
   - path: '**\SmtpServerStub.*.nupkg'
  deploy:
   provider: NuGet
   api_key:
    secure: xIwIVBvFAcgy3tkdaepNHFova+zpQEPPfJEnAgWJXcoGTxudFei6Ao+SjEF/v45/
   skip_symbols: false
   artifact: /.*\.nupkg/

# configuration for development branches
-
  branches:
    except:
      - master

  image:
   - Visual Studio 2017
  before_build:
   - nuget restore -Verbosity quiet
  dotnet_csproj:
   patch: true
   file: '**\SmtpServerStub.csproj'
   version: '{version}'
   package_version: '{version}-{branch}'
   assembly_version: '{version}'
   file_version: '{version}'
   informational_version: '{version}'
  build_script:
   - msbuild SmtpServerStub\SmtpServerStub.csproj /v:q
   - msbuild SmtpServerStubUnitTests\SmtpServerStubUnitTests.csproj /v:q
  test:
   assemblies:
    - '**\SmtpServerStubUnitTests.dll'
#  test_script:
#   - packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -target:"packages\NUnit.ConsoleRunner.3.7.0\tools\nunit3-console.exe" -targetdir:"." -targetargs:"SmtpServerStubUnitTests\bin\Debug\SmtpServerStubUnitTests.dll" -output:"coverage.xml" -filter:+[Smtp*]*
#  after_test:
#   - ps: |
#       $env:PATH = 'C:\msys64\usr\bin;' + $env:PATH
#       Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
#       bash codecov.sh -f "coverage.xml" -t 675a48a6-4a27-44a5-b311-8b1ef26fd4b7
  artifacts:
   - path: '**\SmtpServerStub.*.nupkg'
  deploy:
   provider: NuGet
   api_key:
    secure: xIwIVBvFAcgy3tkdaepNHFova+zpQEPPfJEnAgWJXcoGTxudFei6Ao+SjEF/v45/
   skip_symbols: false
   artifact: /.*\.nupkg/