# configuration for "master" branch
-
  branches:
    only:
      - master

  image:
   - Visual Studio 2017
  before_build:
   - nuget restore -Verbosity quiet
  dotnet_csproj:
   patch: true
   file: '**\SmtpServerStub.csproj'
   version: '{version}'
   package_version: '{version}'
   assembly_version: '{version}'
   file_version: '{version}'
   informational_version: '{version}'
  build_script:
   - msbuild SmtpServerStub\SmtpServerStub.csproj /v:q /p:Configuration=Release
   - msbuild SmtpServerStubUnitTests\SmtpServerStubUnitTests.csproj /v:q /p:Configuration=Release
  test:
   assemblies:
    - '**\SmtpServerStubUnitTests.dll'
  artifacts:
   - path: '**\SmtpServerStub.*.nupkg'
  deploy:
   provider: NuGet
   api_key:
    secure: xIwIVBvFAcgy3tkdaepNHFova+zpQEPPfJEnAgWJXcoGTxudFei6Ao+SjEF/v45/
   skip_symbols: false
   artifact: /.*\.nupkg/

# configuration for development branches
-
  branches:
    except:
      - master

  image:
   - Visual Studio 2017
  before_build:
   - nuget restore -Verbosity quiet
  dotnet_csproj:
   patch: true
   file: '**\SmtpServerStub.csproj'
   version: '{version}'
   package_version: '{version}-{branch}'
   assembly_version: '{version}'
   file_version: '{version}'
   informational_version: '{version}'
  build_script:
   - msbuild SmtpServerStub\SmtpServerStub.csproj /v:q /p:IncludeSymbols=true /p:SymbolPackageFormat=snupkg
   - msbuild SmtpServerStubUnitTests\SmtpServerStubUnitTests.csproj /v:q
  test:
   assemblies:
    - '**\SmtpServerStubUnitTests.dll'
  artifacts:
   - path: '**\SmtpServerStub.*nupkg'
  type: NuGetPackage
  deploy:
   provider: NuGet
   api_key:
    secure: xIwIVBvFAcgy3tkdaepNHFova+zpQEPPfJEnAgWJXcoGTxudFei6Ao+SjEF/v45/
   skip_symbols: true
   artifact: /.*(\.|\.s)nupkg/