image:
 - Visual Studio 2017
before_build:
 - nuget restore
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
build_script:
 - msbuild /t:pack /v:q
artifacts:
 - path: '**\*.nupkg'
deploy:
  provider: NuGet
  api_key:
    secure: QyWHWGXcIG2o5u9H+9jd1C+5I1XwAYHajrsKyk1oG/4p280tqT6T5OM2QGj53uBH
  skip_symbols: true
  artifact: /.*\.nupkg/
  
# overwrite patching properties for non release version of packages  
for:
-
  branches:
    except:
     - master
  dotnet_csproj:
   package_version: '{version}-{branch}'