# configuration for "master" branch
-
  branches:
    only:
      - master

  image:
   - Visual Studio 2017
  before_build:
   - nuget restore
  dotnet_csproj:
   patch: true
   file: '**\SmtpServerStub.csproj'
   version: '{version}'
   package_version: '{version}'
   assembly_version: '{version}'
   file_version: '{version}'
   informational_version: '{version}'
  build_script:
   - msbuild SmtpServerStub\SmtpServerStub.csproj /t:pack /v:q
   - msbuild SmtpServerStubUnitTests\SmtpServerStubUnitTests.csproj /t:compile /v:q
  artifacts:
   - path: '**\*.nupkg'
  deploy:
   provider: NuGet
   api_key:
    secure: QyWHWGXcIG2o5u9H+9jd1C+5I1XwAYHajrsKyk1oG/4p280tqT6T5OM2QGj53uBH
   skip_symbols: true
   artifact: /.*\.nupkg/

# configuration for development branches
-
  branches:
    except:
      - master

  image:
   - Visual Studio 2017
  before_build:
   - nuget restore
  dotnet_csproj:
   patch: true
   file: '**\SmtpServerStub.csproj'
   version: '{version}'
   package_version: '{version}-{branch}'
   assembly_version: '{version}'
   file_version: '{version}'
   informational_version: '{version}'
  build_script:
   - msbuild SmtpServerStub\SmtpServerStub.csproj /t:pack /v:q
   - msbuild SmtpServerStubUnitTests\SmtpServerStubUnitTests.csproj /t:compile /v:n
  test_script:
   - packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -target:"packages\NUnit.ConsoleRunner.3.7.0\tools\nunit3-console.exe" -targetargs:"SmtpServerStubUnitTests\bin\Debug\SmtpServerStubUnitTests.dll" -filter:"+[SmtpServerStub*]* -[Tests*]*"
  after_test:
   - ps: |
       $env:PATH = 'C:\msys64\usr\bin;' + $env:PATH
       Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
       bash codecov.sh -f "results.xml" -t 675a48a6-4a27-44a5-b311-8b1ef26fd4b7
  artifacts:
   - path: '**\*.nupkg'
  deploy:
   provider: NuGet
   on:
    branch: development
   api_key:
    secure: QyWHWGXcIG2o5u9H+9jd1C+5I1XwAYHajrsKyk1oG/4p280tqT6T5OM2QGj53uBH
   skip_symbols: true
   artifact: /.*\.nupkg/