image:
 - Visual Studio 2017
before_build:
 - nuget restore
build_script:
 - msbuild /t:pack
deploy:
 provider: NuGet
 api_key:
  secure: QyWHWGXcIG2o5u9H+9jd1C+5I1XwAYHajrsKyk1oG/4p280tqT6T5OM2QGj53
 artifact: /.*\.nupkg/